.coaches {
  padding-top: 120px;

  &__title {
    margin-bottom: 70px;
  }

  &__wrapp {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: var(--coaches--arrows);
      background-size: cover;
      background-repeat: no-repeat;
      width: 201px;
      height: 347px;
      top: -40%;
      left: -7%;
    }
  }

  &__slider {
    position: relative;
  }
}
