.details {
  position: relative;
  padding-top: 70px;
  background-color:  var(--main-bg);
  z-index: 3;

  @media screen and (max-width: 992px) {
    padding-top: 80px;
  }

  &__title {
    margin-bottom: 20px;
    position: relative;
    z-index: 2;

    @media screen and (max-width: 992px) {
      margin-bottom: 50px;
    }
  }

  &__info-item {
    position: relative;
    display: flex;
    transform: skewY(-6.5deg);
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      background: linear-gradient(87.14deg, rgba(0, 0, 0, 0.8) 32.84%, rgba(0, 0, 0, 0) 60.47%);
      height: 100%;
      width: 100%;
      right: 0;
      transform: rotate(-180deg);

      @media screen and (max-width: 992px) {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 42.73%, rgba(0, 0, 0, 0) 84.21%);
        transform: rotate(-180deg);
      }
    }

    &:nth-child(even) {
      &::before {
        transform: translateY(0) rotate(0deg);

        @media screen and (max-width: 992px) {
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 42.73%, rgba(0, 0, 0, 0) 84.21%);
          transform: rotate(-180deg);
        }
      }

      .details__info-block {
        align-items: flex-start;
        text-align: left;
        padding-bottom: 80px;
        transform: translateY(15%) skewY(6.5deg);
      }
    }
  }

  &__info-bg {
    height: 385px;
    width: 100%;

    picture,
    img {
      width: 100%;
      height: 100%;
      // object-position: left;
    }
  }

  &__container {
    position: absolute;
    inset: 0;
  }

  &__info-block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    grid-gap: clamp(22px, 3.125vw, 50px);
    transform: translateY(-15%) skewY(6.5deg);
    text-align: right;

    @media screen and (max-width: 992px) {
      padding-bottom: 80px;
      justify-content: end;
      transform: translateY(0) skewY(6.5deg);
    }
  }

  &__info-title,
  &__info-descr {
    max-width: 700px;
  }

  &__info-descr {
    @media screen and (max-width: 992px) {
      br {
        display: none;
      }
    }
  }
}


