.hero {
  position: relative;
  background-image: url('../img/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;

  @media screen and (max-width: 1240px) {
    background-image: url('../img/hero-bg-mob.png');
  }

  &::before {
    content: '';
    position: absolute;
    background-image: var(--hero-arrows);
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    bottom: -11%;
    width: 544px;
    height: 311px;

    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  &__inner {
    padding: clamp(100px, 16.438vw, 263px) 0 clamp(80px, 11.25vw, 180px);
    max-width: 790px;

    @media screen and (max-width: 992px) {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 50px;
    line-height: 104.8%;
    text-align: left;
    color: var(--color-dark);

    @media screen and (max-width: 992px) {
      line-height: 104.8%;
      text-align: center;

      span {
        display: block;
        font-size: clamp(76px, 9.677vw, 96px);
      }
    }
  }

  &__descr {
    margin-bottom: 127px;
    letter-spacing: 0.05em;
    color: var(--color-dark);
  }

  &__btn {
    max-width: 430px;
  }
}
