<div class="modal">
  <div class="modal__container" data-animation="fade" data-speed="300" data-target="success">
    <div class="modal__wrapper code">
      <div class="modal__close modal-close">
        <svg width='18' height='18'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </div>
      <div class="code__wrapp">
        <div class="code__title">Scan QR code to open activate key</div>
        <div class="code__qr">
          <svg width='301' height='299'>
            <use href='img/sprite/sprite.svg#scan'></use>
          </svg>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
