.certificate {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__head {
    max-width: 424px;
    margin-bottom: 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 12px;
    text-align: center;
  }

  &__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  &__price-prev {
    color: var(--color-dark-grey);
    text-decoration-line: line-through;
  }

  &__btn {
    background-color: var(--main-bg);
  }

  &__image-paper {
    max-width: 542px;
    width: 100%;
    max-height: 271px;
    filter: drop-shadow(-31px -3px 63px rgba(0, 0, 0, 0.25));
    margin-bottom: 33px;
  }

  &__image-virtual {
    position: relative;
    display: flex;
    align-items: center;
    height: 271px;
    margin-bottom: 33px;

    &::before {
      content: '';
      position: absolute;
      height: 233px;
      width: 228px;
      top: 30%;
      left: -30%;
      background-image: var(--icon-at);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &__virtual-main {
    position: relative;
    filter: drop-shadow(-31px -3px 63px rgba(0, 0, 0, 0.25));
    z-index: 2;
  }

  &__virtual-second {
    position: absolute;
    left: -23px;
    transform: rotate(15deg);
    filter: drop-shadow(-31px -3px 63px rgba(0, 0, 0, 0.25));
  }


}
