.form {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;

  &__label {
    max-width: 570px;
    padding: 25px 57px;
    transform: skewX(-15deg);
    border: 3px solid #FF6D4D;
  }

  &__input {
    transform: skewX(15deg);
    background-color: transparent;
    color: white;
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__checkbox {
    position: relative;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    max-width: 180px;

  }

  &__checkbox-input {
    position: absolute;
    opacity: 0;
    inset: 0;

    &:checked ~ .form__checkbox-descr::after{
      opacity: 1;
    }

  }

  &__checkbox-descr {
    position: relative;
    padding-left: 30px;
    transition: all 0.3s ease;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      border: 2px solid #FF6D4D;
      border-radius: 2px;
      transition: all 0.3s ease;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      background-image: var(--icon-checked);
      background-size: cover;
      background-repeat: no-repeat;
      left: 4.5px;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      opacity: 0;
      z-index: 5;
      transition: all 0.3s ease;
    }
  }
}
