.title {
  font-family: var(--font-family-reforma);
  font-size: 96px;
  line-height: 120px;
  font-weight: 400;
  color: var(--color-white);
  text-align: center;
}

.contacts__list-link {
  font-family: var(--font-family-russo);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-align: left;
  color: var(--color-white);
}

.footer__navigation-link {
  font-family: var(--font-family-reforma);
  font-size: 25px;
  font-weight: 400;
  color: var(--color-white);
}

.sale__form-title,
.form__input,
.form__input::placeholder,
.btn,
.roads__detail-descr {
  font-family: var(--font-family-russo);
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: var(--color-white);
}

.form__checkbox-descr {
  font-family: var(--font-family-russo);
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: var(--color-white);
}

.feedback__text {
  font-family: var(--font-family-russo);
  font-size: 16px;
  line-height: 155%;
  color: var(--color-white);
}

.feedback__author-name,
.roads__detail-title {
  font-family: var(--font-family-russo);
  font-size: 36px;
  line-height: 43px;
  color: var(--color-orange);
}

.feedback__author-socials {
  font-family: var(--font-family-russo);
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
}



