.title {
  font-family: var(--font-family-reforma);
  font-size: clamp(64px, 6vw, 96px);
  line-height: clamp(67px, 7.5vw, 120px);
  color: var(--color-white);
  text-align: center;
}

.contacts__list-link {
  font-family: var(--font-family-russo);
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: var(--color-white);
}

.footer__navigation-link {
  font-family: var(--font-family-reforma);
  font-size: 25px;
  color: var(--color-white);
}

.sale__form-title,
.form__input,
.form__input::placeholder,
.btn,
.roads__detail-descr,
.comfort__list-descr,
.bike__descr,
.coach__descr {
  font-family: var(--font-family-russo);
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: var(--color-white);
}

.form__checkbox-descr {
  font-family: var(--font-family-russo);
  font-size: 12px;
  line-height: 14px;
  color: var(--color-white);
}

.feedback__text {
  font-family: var(--font-family-russo);
  font-size: 16px;
  line-height: 24px;
  color: var(--color-white);
}

.feedback__author-name,
.roads__detail-title,
.comfort__list-name,
.certificates__detail,
.details__info-title,
.bike__title,
.coach__title,
.controls__pagination {
  font-family: var(--font-family-russo);
  font-size: clamp(18px, 2.25vw, 36px);
  line-height: clamp(22px, 2.688vw, 43px);
  color: var(--color-orange);
}

.feedback__author-socials,
.certificate__descr,
.coach__status {
  font-family: var(--font-family-russo);
  font-size: clamp(14px, 1vw, 16px);
  line-height: clamp(17px, 1.25vw, 20px);
  color: var(--color-white);
}

.certificates__descr,
.certificate__price-prev,
.info__details-title,
.hero__descr {
  font-family: var(--font-family-russo);
  font-size: clamp(18px, 1.5vw, 24px);
  line-height: clamp(21px, 1.813vw, 29px);
  color: var(--color-white);
}

.certificate__name {
  font-family: var(--font-family-reforma);
  font-size: 48px;
  line-height: 50px;
  color: var(--color-white);
}

.certificates__contacts-descr {
  font-family: var(--font-family-russo);
  font-size: clamp(12px, 1.125vw, 18px);
  line-height: clamp(15px, 1.313vw, 21px);
}

.details__info-descr {
  font-family: var(--font-family-russo);
  font-size: clamp(15px, 1.25vw, 20px);
  line-height: clamp(20px, 2.25vw, 36px);
  color: var(--color-white);
}

.info__details-descr {
  font-family: var(--font-family-russo);
  font-size: clamp(14px, 0.938vw, 15px);
  line-height: clamp(17px, 1.125vw, 18px);
  color: var(--color-light-grey);
}

