:root {
  /* -- Fonts --*/
  --font-family-reforma: "ReformaGrotesk", sans-serif; // var(--font-family-reforma);
  --font-family-russo: "RussoOne", sans-serif; // var(--font-family-russo);

  /* -- Colors --*/
  --color-black: #000000; // var(--color-black);
  --color-white: #ffffff; // var(--color-white);




}








