:root {
  /* -- Fonts --*/
  --font-family-serif4: "SourceSerif4", sans-serif; // var(--font-family-serif4);
  --font-family-dmsans: "DMSans", sans-serif; // var(--font-family-dmsans);
  --font-family-cinzel: "Cinzel", sans-serif; // var(--font-family-cinzel);
  --font-family-ebgaramond: "EBGaramond", sans-serif; // var(--font-family-ebgaramond);
  --font-family-montserrat: "Montserrat", sans-serif; // var(--font-family-montserrat);


  /* -- Colors --*/
  --color-black: #000000; // var(--color-black);
  --color-white: #ffffff; // var(--color-white);




}








